@tailwind base;
@tailwind components;
@tailwind utilities;

/* Minimal additional styles for the editor and page */
html,body,#root { height: 100%; }
body { font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; }
textarea { font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, 'Roboto Mono', 'Segoe UI Mono'; }
